.shop-container{
    display: grid;
    grid-template-columns:1fr 200px;

}
.product-container{
    display: grid;
    grid-template-columns:repeat(3, 1fr) ;
    
}
.product-container img{
    width: 100%;
}